name: Build with Nix

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-backend:
    runs-on: [ self-hosted, nixos ]
    steps:
      - uses: actions/checkout@v4

      - name: Build backend
        run: nix build .#backend --print-build-logs
